.main-header {
    background-color: var(--secondary-color);
}

.logo-header {
    color      : #8088a0;
    font-family: "Londrina Shadow", cursive;
    text-align : center;
}


.main-header .container {
    display        : flex;
    flex-wrap      : wrap;
    align-content  : flex-end;
    justify-content: space-between;
    align-items    : center;
}

#navigation button {
    padding     : 6px 10px;
    margin-top  : 8px;
    margin-right: 16px;
}

.login-btn {
    background-color: var(--main-color-btn);
}

.login-btn:hover {
    background-color: rgba(112, 116, 155, 0.8);
}

.home-btn {
    background-color: var(--secondary-color-btn);
}

.home-btn:hover {
    background-color: #48488f;
}



/* .search {
    background-color: transparent;
    border          : 2px solid var(--primary-color);
    border-radius   : 50px;
    font-family     : inherit;
    font-size       : 1rem;
    padding         : 0.5rem 1rem;
    color           : #fff;
    margin-right    : 90px;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline         : none;
    background-color: var(--primary-color);
}
 */