@media screen and (min-width: 360px) and (max-width: 540px) {

  .main-header {
    flex-direction: column;
    align-items   : center;
  }

  .headerText {
    margin: auto;
  }

  form {
    margin: 25px;
  }

  .search {
    margin: auto;
  }

  .pagination {
    width        : 50%;
    margin-bottom: 10px;
  }

  .hide-pagination {
    display: none;
  }

  ul {
    width : 1px;
    margin: 10% 20%;
  }

  .link {
    display: none;
  }

  .active {
    display: block;
  }
}

@media screen and (min-width: 280px) and (max-width: 320px) {
  .main-header {
    flex-direction: column;
    align-items   : center;
  }

  .headerText {
    margin: auto;
  }

  .search {
    margin: auto;
  }


  form {
    margin: 25px;
  }

  .link {
    display: none;
  }

  .active {
    display: block;
  }

  .break-me {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {

  .break-me {
    display: none;
  }


  main {
    margin-bottom: 50%;
  }

}


@media screen and (min-width: 1024px) and (min-height: 1366px) {

  main {
    margin-bottom: 50%;
  }

  .loader {
    margin: 18% 40%;
  }

}