@media screen and (min-width: 360px) and (max-width: 540px) {

  header {
    flex-direction: column;
    align-items   : center;
  }

  .headerText {
    margin: auto;
  }

  form {
    margin: 25px;
  }

  .pagination {
    width: 50%;
  }

  .hide-pagination {
    display: none;
  }

  ul {
    width : 1px;
    margin: 10% 20%;
  }


  .link {
    display: none;
  }

  .active {
    display: block;
  }


}

@media screen and (min-width: 280px) and (max-width: 320px) {
  header {
    flex-direction: column;
    align-items   : center;
  }

  .headerText {
    margin: auto;
  }

  form {
    margin: 25px;
  }

  .link {
    display: none;
  }

  .active {
    display: block;
  }

  .break-me {
    display: none;
  }

  .pagination {
    width: 85%;
  }
}

@media screen and (min-width: 768px) and (max-height: 1024px) {

  .break-me {
    display: none;
  }

  .pagination {
    width: 95%;
  }

}