footer {
    background-color: var(--secondary-color);
    text-align      : center;
    padding         : 10px;
    border-top      : rgba(255, 255, 255, 0.473) 1px solid;
    position        : absolute;
    width           : 100%;
    bottom          : 0;
}

.link-footer {
    color          : #f1f2f6;
    text-decoration: none;
}


footer span {
    color: #576574;
}

.link-footer:hover,
.copyright-footer a:hover {
    text-decoration: underline;
}

.copyright-footer,
.copyright-footer a {
    color          : #b2bec3;
    text-decoration: none;
}

