@media screen and (max-width: 540px) {
  #header {
    .container {
      flex-direction: column;
      padding: 3%;
      .logo-header {
        font-weight: 900;
      }

      .search {
        min-width: 60%;
        margin-right: 93px;
      }
    }
  }

  #search-filter {
    align-items: baseline;
    .container-movie {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .movie-card {
        flex: 1;
      }
    }
  }

  #home-guest {
    margin: auto;

    section {
      .container-movie {
        display: flex;
        flex-direction: column;
        align-content: center;
      }
    }
  }

  #login-page {
    min-width: 86%;
  }

  #home-user {
    display: flex;
    flex-direction: column;

    .nav-home-user {
      width: 100%;
      .main-nav {
        ul {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
        }
      }
    }

    .pagination {
      li {
        display: none;
      }
      .break-me {
        display: block;
      }
      .next {
        display: block;
      }

      .previous {
        display: block;
      }

      .active {
        display: block;
      }
    }

    .container-movie {
      display: flex;
      flex-direction: column;
      .movie-card {
        align-self: center;
        margin-bottom: 6%;
        box-shadow: 0 20px 28px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  .edit-profile {
    min-width: 93%;

    .custom-file-input::before {
      width: 144px;
      font-size: 15px;
      padding: 4px 2px;
    }
  }

  .column-two {
    .video {
      min-height: 50vh;
    }
  }

  .feedbacks {
    overflow: auto;
  }

  .reviews {
    display: contents;

    .post {
      max-width: 300px;

      .postTextContainer{
        flex-direction: column;
      }
    }

    
  }
}

@media screen and (max-width: 1284px) {
  html,
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  .pagination {
    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(9) {
      display: none;
    }

    .break-me {
      display: none;
    }
    .next {
      display: block;
    }

    .previous {
      display: block;
    }

    .active {
      display: block;
    }
  }

  #single-movie,
  .loadingSingleMovie {
    margin: 1%;
    .content {
      padding: 3%;
      display: block;

      flex-wrap: wrap;
      .column-one {
        margin: 2%;
      }

      .column-two {
        flex: 1;

        .video {
          width: 100%;
          padding-bottom: 1%;
          // height: 274px;
        }
      }

      .column-three {
        min-width: 20%;

        div {
          display: block;
        }
        .heading-2 {
          text-align: center;
        }

        .row {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;

          .card-container {
            width: 40%;
            .cardImage {
              width: 100%;
            }
          }
        }

        .sim {
          position: static;
        }
      }
    }

    .comments {
      display: flex;
      flex-direction: column-reverse;
      .reviews {
        display: contents;
        // .postTextContainer{
        //   flex-direction: column;
        // }
      }

      .create-comment {
        width: 95%;
      }
    }
  }

  .li-info {
    display: none;
  }
}

@media screen and (max-width: 541px) {
  #single-movie {
    .content {
      .container-movie {
        flex-basis: 100%;
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1285px) {
  .column-three {
    display: flex;
    text-decoration: underline 2px;
    justify-content: space-between;
    flex-direction: row;
    margin: 1%;
    hr {
      display: none;
    }
  }




}

@media screen and (min-width: 542px) and (max-width: 840px) {
  #header {
    .container {
      .secnav {
        display: contents;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #single-movie {
    .content {
      .column-three {
        .row {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: auto;
        }
      }
    }
  }

 
}

@media screen and (min-width: 670px) {
  #login-page {
    margin: auto;
    min-width: 50%;
  }
}
