@import 'config';

.container {
  margin-left: 10%;
  margin-right: 10%;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

.tc {
  text-align: center;
}

.mt-100 {
  margin-top: 100%;
}

button {
  color: $light-color;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.text {
  font-weight: 300;
  color: #dcdde1c9;
  margin-top: 0px;
}

.heading-2 {
  color: $light-color;
  font-weight: 400;
}

.wrap-form {
  color: $light-color;
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  width: 40%;
  margin: auto;
  padding-bottom: 9.5rem;
  margin-top: 3%;
}

.wrap-form .nav-link {
  text-decoration: none;
  color: lightblue;
}

.link {
  text-decoration: none;
}

.fa-star {
  color: #0984e3;
}



/* CSS */
.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.button-41:hover {
  background: #00bd68;
}

/* input,
textarea {
  margin-top: 5px;
  outline: none;
  resize: none;
} */

/* .postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

/* .deletePost button {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
} */

//Google-Button
.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.25),
      0 0 0 2px #e8e8ec;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #8088a0;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.myButton:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}
.myButton:active {
  position: relative;
  top: 1px;
}

hr {
  border: 0.1px solid #f1f1f1;
  /*  margin-bottom: 25px; */
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: $main-color-btn;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;

  &:focus {
    outline: 0;
  }

  &:active {
    transform: scale(0.98);
  }

  &:hover {
    background: $main-hover-btn;
  }
}

.edit-profile {
  margin: 3% auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: $alpha-color;
  border-radius: 1%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;

  .column-one {
    width: 50%;
    min-height: 470px;
    position: relative;

    .profile-image {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  .vl {
    border-left: 1px solid #fff;
    height: 596px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .column-two {
    width: 50%;
    min-height: 400px;
    font-family: sans-serif;

    .fields {
      margin: 5%;
      color: $medium-color;
      h1 {
        color: #fff;
      }

      label {
        line-height: 25px;
      }
      input[type='text'],
      input[type='password'] {
        width: 100%;
        padding: 15px;
        margin-bottom: 5%;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }

      input[type='text']:focus,
      input[type='password']:focus {
        background-color: #ddd;
        outline: none;
      }

      .btn {
        margin-top: 5%;
        background-color: #34495e;
        width: 100%;
      }

      .btn:hover {
        background-color: #30475e;
      }
    }
  }
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: 6px;
  border-radius: 50%;
  border-width: 5px;
  border: solid 1px #2c3e50;
  cursor: pointer;
}

.avatar-profile {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin: 6px;
  border-radius: 50%;
  border-width: 5px;
}

.avatar:hover {
  /* animation: moveInLeft 1s ease-out; */
  opacity: 0.7;
}

@keyframes moveInLeft {
  0% {
    transform: rotate(-65deg);
  }

  50% {
    transform: rotate(-45deg);
  }

  80% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}

.button {
  background-color: #34495e;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  margin-top: 4%;
  font-size: 15px;
  width: 190px;
  padding: 5px 12px;
  text-decoration: none;
}
.button:hover {
  background-color: #30475e;
}
.myButton:active {
  position: relative;
  top: 1px;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 10%;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Change profile image';
  color: #ffffff;
  display: block;
  background-color: #34495e;
  border-radius: 10px;
  margin: 4% auto;
  font-size: 15px;
  text-align: center;
  font-family: Arial;
  width: 139px;
  font-size: 15px;
  padding: 5px 10px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.custom-file-input:hover::before {
  background-color: #30475e;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background-color: #34495e;
}
