@import 'config';
@import 'utilities';
@import 'loading';
@import 'media';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  // min-height: 383vh;
  height: 100%;
  width: 100%;
  body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: $primary-color;
    color: #dcdde1c9;
    #root {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  }
}

//Header
#header {
  background-color: $secondary-color;
  /* border-bottom: 0.4px solid #ffffff57; */

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-header {
      color: #8088a0;
      font-family: 'Londrina Shadow', cursive;
      text-align: center;
      cursor: pointer;
    }

    .search {
      margin: auto;
      background-color: $primary-color;
      border: 2px solid $primary-color;
      min-width: 30%;
      border-radius: 50px;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color: #fff;
      // margin-left: 100px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #7378c5;
      }
    }

    .secnav {
      .pro {
        border-radius: 50%;
        border-width: 5px;
        border: solid 1px #2c3e50;
        cursor: pointer;
      }
    }

    button {
      padding: 6px 10px;
      margin-right: 16px;
    }

    .home-btn {
      background-color: $bg-secondary;

      .home-link {
        text-decoration: none;
        color: #fff;
      }
    }

    .home-btn:hover {
      background-color: #48488f;
    }

    .login-btn,
    .logout-btn {
      background-color: $bg-primary;
    }

    .login-btn:hover,
    .logout-btn:hover {
      background-color: $bg-primary-hover;
    }
  }
}

// #Home-Page
#home-guest {
  section {
    .section-title {
      color: #f9fafdcc;
      font-weight: 300;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
    }
    .container-movie {
      margin: 0 13% 0 13%;
    }

    #section-content {
      margin: 15px;
      .text-muted {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        color: hsla(0, 0%, 100%, 0.5);
        margin-top: 10px;
      }

      .register-btn {
        padding: 6px 10px;
        margin: auto;
        display: block;
        font-size: 17px;
        margin-top: 20px;
        box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: $bg-primary;
      }

      .register-btn:hover {
        background-color: $bg-secondary;
      }
    }
  }
}

.sniper {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

//result after search
#search-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .filter-movie {
    padding-bottom: 122px;
  }
}

//Home-User
#home-user {
  // padding-bottom: 5rem;
  .nav-home-user {
    background-color: #171939;

    .main-nav {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 100%;
      z-index: 1;
      transition: 0.9s;
      background: rgba(0, 0, 0, 0);

      ul {
        display: flex;
        justify-content: flex-end;
      }

      li {
        padding: 1rem 2.5rem;
      }

      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
          border-color: #ccc;
        }

        &.current {
          border-color: #0984e3;
        }
      }
    }
  }
}

//Login-Page
#login-page {
  margin: auto;
  min-width: 32%;
  // margin: 5%;
  .wrap-form {
    padding: 2em 2em;
    border-radius: 5px;
    margin: 5%;
    // width: 70%;
    color: $light-color;
    font-family: 'Muli', sans-serif;
    background-color: $alpha-color;
    .fa-user {
      font-size: 100px;
      display: flex;
      justify-content: center;
    }

    h1 {
      text-align: center;
      margin-bottom: 60px;
    }

    #form {
      .form-control {
        position: relative;
        margin: 20px 0 40px;
        // width: 100%;

        input {
          background-color: transparent;
          border: 0;
          border-bottom: 2px #fff solid;
          display: block;
          width: 100%;
          padding: 15px 0;
          font-size: 18px;
          color: #fff;
          outline: none;
        }

        label {
          position: absolute;
          top: 5px;
          left: 0;
          pointer-events: none;
        }

        span {
          display: inline-block;
          font-size: 18px;
          min-width: 5px;
          transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        input:focus + label span,
        input:valid + label span {
          color: lightblue;
          transform: translateY(-30px);
        }
      }

      .btn {
        cursor: pointer;
        display: inline-block;
        width: 100%;
        background: $main-color-btn;
        padding: 15px;
        font-family: inherit;
        font-size: 16px;
        border: 0;
        border-radius: 5px;

        &:focus {
          outline: 0;
        }

        &:active {
          transform: scale(0.98);
        }

        &:hover {
          background: $main-hover-btn;
        }
      }

      .text {
        margin-top: 30px;
      }
    }
  }
}

//Register-Page
.reg {
  margin: auto;
  font-family: 'Muli', sans-serif;
  #register-page {
    background-color: $alpha-color;
    margin: 5%;
    // width: 70%;

    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    border-radius: 4px;

    input[type='text'],
    input[type='password'] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    input[type='text']:focus,
    input[type='password']:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Set a style for the submit button */
    .register-btn-form {
      background-color: $bg-primary;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      outline: none;
    }

    .register-btn-form:hover {
      background: $bg-primary-hover;
    }
  }
}

//Footer
#footer {
  background-color: $secondary-color;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  .link-footer {
    color: #f1f2f6;
    text-decoration: none;
  }

  .link-footer:hover,
  .copyright-footer a:hover {
    text-decoration: underline;
  }

  span {
    color: #576574;
  }

  .copyright-footer,
  .copyright-footer a {
    color: #b2bec3;
    text-decoration: none;
  }
}

//Movie-Card
.container-movie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 1%;

  .movie-card {
    // flex-grow: 1;
    // flex: 1 1 15%;
    margin: 1%;
    width: 243px;
    max-height: 630px;
    // margin: 1rem;
    background-color: $secondary-color;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    // flex: 1 0 22%;

    img {
      width: 100%;
      height: 400px;
      opacity: 1;
      display: block;
      height: auto;
      // transition: 0.5s ease;
      backface-visibility: hidden;
    }
    .movie-info {
      color: #eee;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 0.5rem 1rem 2rem;
      letter-spacing: 0.5px;
      h3 {
        margin-top: 0;
      }

      .date-movie {
        color: #dcdde1c9;
        font-weight: 100;
        position: absolute;
        bottom: 0;
      }

      span {
        background-color: $primary-color;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        font-weight: bold;
      }

      span.green {
        color: lightgreen;
      }

      span.orange {
        color: orange;
      }

      span.red {
        color: red;
      }
    }

    .view-details {
      background-color: $alpha-color;
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }

  .movie-card:hover .mohov {
    opacity: 0.3;
  }

  .movie-card:hover .view-details {
    opacity: 1;
  }
}

//view single movie
#single-movie {
  .content {
    display: flex;
    margin: 1%;
    background-color: $alpha-color;
    position: relative;
    min-height: 75vh;

    .container-movie {
      .movie-card {
        min-height: 530px;
      }
    }

    .row {
      display: flex;
      flex-direction: row;
    }

    .column-two {
      margin: 1%;

      display: flex;
      flex-direction: column;
      width: 100%;

      p {
        font-size: 90%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .ge {
        display: flex;
        flex-wrap: wrap;
        .genre {
          box-shadow: inset 0px 1px 0px 0px #ffffff;
          background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
          background-color: #ededed;
          border-radius: 6px;
          border: 1px solid #dcdcdc;
          display: inline-block;
          color: #777777;
          font-family: Arial;
          font-size: 12px;
          font-weight: bold;
          padding: 6px 24px;
          text-decoration: none;
          text-shadow: 0px 1px 0px #ffffff;
          margin: 6px;
        }
      }

      .video {
        border: none;
        margin-top: auto;
        height: 100%;
      }
    }
  }

  .column-three {
    // margin-left: 1%;
    // margin-right: 1%;
    width: 100%;
    .row:first-child {
      .card-container {
        position: relative;
        .cardImage {
          position: absolute;
        }
      }
    }

    .card-container {
      margin: 1% 2%;
      position: relative;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      // bottom: 0;
      background: rgba(17, 17, 17, 0.5);
      width: 100%;
      border-radius: 6%;
      transition: 0.5s ease;
      opacity: 0;
      color: $medium-color;
      font-size: 15px;
      font-weight: 400;
      padding: 5px;
      text-align: center;
    }
    .card-container:hover .overlay {
      opacity: 1;
    }

    .cardImage,
    .not-available-image {
      height: 188px;
      width: fit-content;
    }

    .not-available-image {
      border-radius: 10%;
      // width: 125px;
      width: 100%;
    }

    .cast {
      border-radius: 10%;
      object-fit: cover, contain;
      // min-width: 50%;
    }

    hr {
      // position: absolute;
      border: 0.1px solid #f5ededd2;
      width: 100%;
    }

    .sim {
      position: absolute;
      bottom: 5px;
      cursor: pointer;

      .similar {
        border: 1px ridge #fff;
        object-fit: cover, contain;
        // min-width: 50%;
      }

      .similar:hover {
        opacity: 0.5;
      }
    }
  }

  .comments {
    background: $alpha-color;
    margin: 1%;
    display: flex;

    .feedbacks {
      margin: 2%;
      min-width: 45%;
      background: $alpha-color;
      padding: 30px;
      border-radius: 12px;
      overflow-y: auto;
      max-height: 100vh;

      .reviews {
        margin-top: 5%;

        .fade-out {
          -webkit-animation: fade-out 1s ease-out both;
          animation: fade-out 1s ease-out both;
        }

        .post {
          -webkit-animation: text-focus-in 1s
            cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          width: 600px;
          height: auto;
          max-height: 600px;
          background-color: rgb(250, 250, 250);
          color: #000;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          margin: 20px;
          padding: 20px;
          border-radius: 15px;
          overflow-y: auto;
          margin: 20px auto;
          /* text-align: center; */

          .postTitle {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: baseline;

            .fa-trash-alt {
              color: #ad1010e8;
              font-size: 24px;
              cursor: pointer;
              &:hover {
                font-size: 28px;
              }
            }
          }

          p {
            word-wrap: break-word;
          }

          .postTextContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            .fa-thumbs-up {
              margin-left: auto;
              font-size: 24px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .create-comment {
      min-width: 48%;
      margin: 2%;
      // display: grid;
      background: $alpha-color;
      padding: 30px;

      border-radius: 12px;

      .comment-container {
        display: flex;
        flex-direction: column;

        h1 {
          text-decoration: px underline;
        }

        .inputGp {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          color: #fff;

          label {
            font-size: 25px;
          }

          input {
            height: 50px;
          }

          input,
          textarea {
            font-size: 18px;
            border: none;
            border-radius: 2px;
            padding: 5px;
            /* margin-top: 10px; */
            outline: none;
            resize: none;
          }

          textarea {
            height: 330px;
          }
        }
      }
    }
  }
}

//Not-Found-Page
#not-found {
  color: #95a5a6;
  text-align: center;
  margin-top: 100px;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 100%;

  .text-notfound {
    margin-left: 50px;
  }
}

//Pagination
.pagination {
  display: flex;
  margin-top: 19px;
  justify-content: center;

  li {
    color: #fff;
    padding: 8px 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color: #171939;
    margin-right: 9px;
    border: ridge 1px #f1f1f121;
    a {
      padding: inherit;
    }
  }
  li.active {
    background-color: $secondary-color;
    color: white;
  }

  li.disabled {
    display: none;
  }

  li:hover:not(.active) {
    background-color: $bg-primary-hover;
  }

  .break-me {
    display: block;
  }
}

.hide-pagination {
  display: none;
}

//Loader-Page
#loader {
  border: 16px solid $dark-color;
  border-radius: 50%;
  border-top: 16px solid #373b69;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  display: flex;
  align-items: center;

  // position: absolute;
  // top: 36%;
  // /* left: 40%; */
  // // margin: auto;
  // transform: translate(-50%, -50%);

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
