@import 'config';
@import 'utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  min-height: 80vh;
  position: relative;

  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: $primary-color;
    height: 100%;
  }
}

#header {
  background-color: $secondary-color;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .logo-header {
      color: #8088a0;
      font-family: 'Londrina Shadow', cursive;
      text-align: center;
    }

    .search {
      background-color: $primary-color;
      border: 2px solid $primary-color;
      border-radius: 50px;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color: #fff;
      width: 30%;
    }

    .search::placeholder {
      color: #7378c5;
    }

    .search:focus {
      outline: none;
    }

    #navigation {
      button {
        padding: 6px 10px;
        margin-right: 16px;
      }

      .home-btn {
        background-color: $bg-secondary;

        .home-link {
          text-decoration: none;
          color: #fff;
        }
      }

      .home-btn:hover {
        background-color: #48488f;
      }

      .login-btn {
        background-color: $bg-primary;
      }

      .login-btn:hover {
        background-color: $bg-primary-hover;
      }
    }
  }
}

.movie-card {
  width: 300px;
  margin: 1rem;
  background-color: $secondary-color;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;

  img {
    width: 100%;
  }

  .movie-info {
    color: #eee;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    h3 {
      margin-top: 0;
    }

    span {
      background-color: $primary-color;
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
      font-weight: bold;
    }

    span.green {
      color: lightgreen;
    }

    span.orange {
      color: orange;
    }

    span.red {
      color: red;
    }
  }

  .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
  }
}

.movie-card:hover .overview {
  transform: translateY(0);
}

#home-guest {
  section {
   
    .section-title {
      color: #f9fafdcc;
      font-weight: 300;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
    }

    .movies {
      margin-bottom: 1%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }

    #section-content {
      .text-muted {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        color: hsla(0, 0%, 100%, 0.5);
        margin-top: 10px;
      }

      .register-btn {
        padding: 6px 10px;
        margin: auto;
        display: block;
        font-size: 17px;
        margin-top: 20px;
        box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: $bg-primary;
      }

      .register-btn:hover {
        background-color: $bg-secondary;
      }
    }
  }
}


#home-user{
margin-bottom: 8%;
}

#login-page {
  .wrap-form {
    padding: 2em 2em;
    border-radius: 5px;
    width: 30%;

    .fa-user {
      font-size: 100px;
      display: flex;
      justify-content: center;
    }

    h1 {
      text-align: center;
      margin-bottom: 60px;
    }

    #form {
      .form-control {
        position: relative;
        margin: 20px 0 40px;
        width: 100%;

        input {
          background-color: transparent;
          border: 0;
          border-bottom: 2px #fff solid;
          display: block;
          width: 100%;
          padding: 15px 0;
          font-size: 18px;
          color: #fff;
          outline: none;
        }

        label {
          position: absolute;
          top: 5px;
          left: 0;
          pointer-events: none;
        }

        span {
          display: inline-block;
          font-size: 18px;
          min-width: 5px;
          transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        input:focus + label span,
        input:valid + label span {
          color: lightblue;
          transform: translateY(-30px);
        }
      }

      .btn {
        cursor: pointer;
        display: inline-block;
        width: 100%;
        background: $main-color-btn;
        padding: 15px;
        font-family: inherit;
        font-size: 16px;
        border: 0;
        border-radius: 5px;

        &:focus {
          outline: 0;
        }

        &:active {
          transform: scale(0.98);
        }

        &:hover {
          background: $main-hover-btn;
        }
      }

      .text {
        margin-top: 30px;
      }
    }
  }
}

#register-page {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding: 2em 2em;
  color: #fff;
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  border-radius: 4px;

  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type='text']:focus,
  input[type='password']:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for the submit button */

  .register-btn-form {
    background-color: $bg-primary;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    outline: none;
  }

  .register-btn-form:hover {
    background: $bg-primary-hover;
  }
}

#footer {
  background-color: $secondary-color;
  text-align: center;
  padding: 10px;
  border-top: rgba(255, 255, 255, 0.473) 1px solid;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(150%);
  .link-footer {
    color: #f1f2f6;
    text-decoration: none;
  }

  .link-footer:hover,
  .copyright-footer a:hover {
    text-decoration: underline;
  }

  span {
    color: #576574;
  }

  .copyright-footer,
  .copyright-footer a {
    color: #b2bec3;
    text-decoration: none;
  }
}

#not-found {
  color: #95a5a6;
  text-align: center;
  margin-top: 100px;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 100%;

  .text-notfound {
    margin-left: 50px;
  }
}

// יהיה שימוש בזה  בהמשך

.next {
  border: none;
  padding: 15px 32px;
  color: #eee;
  font-size: 16px;
}

.next:hover {
  background-color: #353a72d0;
  cursor: pointer;
}

.break-me {
  display: block;
}

.pagination {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-top: 19px;
  justify-content: center;
}

.hide-pagination {
  display: none;
}

.previous {
  border: none;
  padding: 15px 32px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.pagination li {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: #95a5a6;
  background-color: #fff;
  margin-bottom: 10px;
}

.pagination li a {
  padding: inherit;
}

.pagination li.active {
  background-color: $secondary-color;
  color: white;
  border: 1px solid #eee;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #8088a0;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #373b69;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40%;
  right: 45%;
  left: 45%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  display: block;
  margin: auto;
  margin-top: 5%;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.25),
      0 0 0 2px #e8e8ec;
  }
}

#main-nav {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  z-index: 1;
  transition: 0.9s;
  background: rgba(0, 0, 0, 0);

  ul {
    display: flex;
    justify-content: flex-end;
  }

  li {
    padding: 1rem 2.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: #ccc;
    }

    &.current {
      border-color: #0984e3;
    }
  }
}

#nav-home-user {
  border-top: 0.3px solid #ffffff57;
  background-color: #171939;
}
